@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  *::after,
  *::before {
    box-sizing: border-box;
  }

  html {
    font-size: 16px;
    line-height: 1.35;
  }

  body {
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-style: normal;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.64) 50%,
        rgba(3, 113, 183, 0.27) 98%)
  }

  #header .menu-item a {
    position: relative;
    font-weight: 500;
    padding: 3px 0
  }

  #header .menu-item.active a:after {
    left: 0;
    width: 100%;
  }

  #header .menu-item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    width: 0;
    height: 2px;
    transition: all 0.3s;
    background: #383838;
  }

  .search-box input {
    font-size: 15px;
    font-weight: 300;
  }

  .search-box input::placeholder {
    color: white;
  }

  #header .trigger-mobile-menu {
    position: relative;
    z-index: 101;
  }

  /*** Hero ***/
  .hero .hero-slide {
    height: calc(100dvh - 76px);
  }

  .hero .image::after {
    content: '';
    position: absolute;
    bottom: -150px;
    left: 50%;
    z-index: -1;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(40px);
    background: #0371b759;
    transform: translateX(-50%) rotateX(60deg);
  }

  .hero .swiper-button-prev,
  .hero .swiper-button-next {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #ffffff;
    position: absolute;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    transition: all .3s ease-in-out;
  }

  .hero .swiper-button-prev::after,
  .hero .swiper-button-next::after {
    font-size: 15px;
    left: 50%;
    top: 50%;
    position: absolute;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
  }

  .hero .swiper-button-prev {
    top: auto;
    left: auto;
    right: 20px;
    bottom: calc(0.75rem + 40px);
  }

  .hero .swiper-button-next {
    top: auto;
    left: auto;
    right: 20px;
    bottom: 0.75rem;
  }

  .hero .bg-text {
    z-index: -1;
  }

  /*** Media ***/
  @media (max-width: 767px) {
    #header .header-nav {
      position: fixed;
      width: 100%;
      max-width: 375px;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 50px 30px;
      background: rgba(3, 113, 183, 0.8) 100%;
      z-index: 100;
      transform: translateX(100%);
      transition: all .3s ease-in-out;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    #header .header-nav.show {
      transform: translateX(0%);
    }
  }

  @media (min-width: 992px) {
    #header .menu-item a:hover::after {
      left: 0;
      width: 100%;
    }

    .hero .swiper-button-prev:hover,
    .hero .swiper-button-next:hover {
      background-color: #0371b7;
      color: #ffffff;
    }
  }

  /*** Animation ***/
  @keyframes animate-doraemon {
    0% {}

    100% {}
  }

  /*** Snipets ***/
  @layer {
    .flex-items-center {
      @apply flex items-center;
    }

    .flex-items-center-important {
      display: flex !important;
      @apply items-center;
    }

    .flex-justify-center {
      @apply flex justify-center;
    }

    .flex-center {
      @apply flex items-center justify-center;
    }

    .text-shadow-black {
      text-shadow: #0371b7 0 0 1px, #0371b7 0 4px 3px, #0371b7 0 9px 3px, #0371b7 0 12px 1px, rgba(0, 0, 0, 0.2) 0 14px 3px, rgba(0, 0, 0, 0.1) 0 20px 10px, rgba(0, 0, 0, 0.2) 0 15px 80px;
    }

    .text-shadow-primary {
      text-shadow: #cdc901 0 0 1px, #cdc901 0 4px 3px, #cdc901 0 9px 3px, #0371b7 0 12px 1px, rgba(0, 0, 0, 0.2) 0 14px 3px, rgba(0, 0, 0, 0.1) 0 20px 10px, rgba(0, 0, 0, 0.2) 0 15px 80px;
    }
  }
}